:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #ffffff;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --btn-radius: 40px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-light-gray);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/**
    HEADER AND NAVIGATION
 */

header {
    width: 100%;
    height: 70px;
    position: relative;
    background: var(--color-white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navigation_logo {
    font-size: 2rem;
    font-weight: 300;
    font-family: var(--font-raleway);
    color: var(--color-primary);
}

.header_nav_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header_nav_li {
    padding: 0 40px;
}

.nav_link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 3px;
    padding: 26px 5px;
    border-bottom: 4px solid transparent;
}

.nav_link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.header_nav_li:last-child {
    padding-right: 0;
}

/**
    OPENING SECTION
 */

.opening_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
}

.opening_section_content {
    margin-top: 130px;
    text-align: center;
}

.opening_section_header {
    font-size: 3.0625rem;
    font-family: var(--font-raleway);
    color: var(--color-black);
}

.opening_section_text {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    color: var(--color-black);
    margin-top: 20px;
    margin-bottom: 38px;
}

.btn {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-white);
    background: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: var(--btn-radius);
    padding: 16px 65px;
}

.btn_large {
    padding: 22px 155px;
}

.opening_image {
    width: 100%;
    height: auto;
}