* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;

  @include laptop {
    width: 100vw;
    margin: 0;
    padding: 0 15px;
  }

  @include mobile {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}