  @use "sass:math";

  $font-raleway: "Raleway", sans-serif;
  $font-open-sans: "Open Sans", sans-serif;
  $btn-radius: 40px;

  $columns: 12;
  $column-base-width: math.div(100%, $columns);

  $transition: 0.2s;
  $border-radius: 7px;