.opening_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening_section_content {
  margin-top: 130px;
  text-align: center;
}

.opening_section_header {
  font-size: 3.0625rem;
  font-family: $font-raleway;
  color: $color-black;
}

.opening_section_text {
  font-family: $font-open-sans;
  font-size: 1rem;
  color: $color-black;
  margin-top: 20px;
  margin-bottom: 38px;
}

.btn {
  display: inline-block;
  font-family: $font-open-sans;
  font-size: 1rem;
  font-weight: 700;
  color: $color-white;
  background: $color-primary;
  box-shadow: 5px 10px 14px $color-primary-shadow;
  border-radius: $border-radius;
  padding: 16px 65px;
}

.btn_large {
  padding: 22px 155px;
}

.opening_image {
  width: 100%;
  height: auto;
}