.statistics {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;

  @include mobile {
    margin: 4rem 1rem 0;
  }

  h2 {
      font-size: 2.25rem;
      font-family: $font-raleway;
      color: $color-black;
      text-align: center;

      @include mobile {
        font-size: 2rem;
      }
    }

  .stats_container {
    margin: 100px auto 120px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;

      @include mobile {
        align-items: center;
        flex-direction: column;
        margin: 3rem auto;
      }
  }
}

.statistics_single {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    align-items: center;
    text-align: center;
    font-family: $font-raleway;
    max-width: 160px;

  &:nth-child(1) .statistics_img {
    top: 3px;
  }

  &:nth-child(1) .statistics_circle {
    background-color: $color-redish;
  }

  &:nth-child(2) .statistics_img {
    top: 14px;
  }

  &:nth-child(2) .statistics_circle {
    background-color: $color-primary;
  }

  &:nth-child(3) .statistics_img {
    top: 5px;
  }

  &:nth-child(3) .statistics_circle {
    background-color: $color-green;
  }

  @include mobile {
    margin-bottom: 4rem;
  }
}

.statistics_circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
}

.statistics_img {
  position: absolute;
}

.statistics_value {
  padding-top: 15px;
  font-weight: 800;
  font-family: $font-raleway;
  font-size: 1.25rem;
  color: $color-black;
  letter-spacing: 6px;
}

.statistics_description {
  color: $color-grey;
  margin-top: 19px;
}